<h1>商品詳細</h1>

<%= image_tag @item.image, width: 200 %>

<table>
  <tr>
    <td>商品名</td>
    <td><%= @item.name %></td>
  <tr>
    <td>商品説明</td>
    <td><%= @item.introduction %></td>
  </tr>
  <tr>
    <td>ジャンル</td>
    <td><%= @item.genre.name %></td>
  </tr>
  <tr>
    <td>税込価格<br>(税抜価格)</td>
    <td><%= (@item.price * 1.1).round %> (<%= @item.price %>)円</td>
  </tr>
  <tr>
    <td>販売ステータス</td>
    <td><% if @item.is_active == true %>
          <span>販売中</span>
        <% else %>
          <span>販売停止中</span>
        <% end %></td>
  </tr>
</table>

<button>
  <%= link_to '編集する', edit_admin_item_path %>
</button>
