<h1><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</h1>
<%= form_with model: @customer, url: admin_customer_path do |f| %>

  <div class="field">
    <%= f.label :first_name, "名前" %>
    (姓)<%= f.text_field :first_name %>
    (名)<%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana, "フリガナ" %>
    (セイ)<%= f.text_field :first_name_kana %>
    (メイ)<%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %><br>
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :address, "住所"%><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :telephone_number, "電話番号(ハイフンなし)"%><br>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label :email , "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "変更を保存" %>
  </div>
<% end %>

