<div class="container">
  <h3><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</h3>
  <div class="row mt-4">
    <div class="col-lg-6">
      <table class="table table-borderless">
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.first_name %> <%= @customer.last_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postal_code %></td></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td><% if @customer.is_deleted == false %>
                <span class="text-success font-weight-bold">有効</span>
              <% else %>
                <span class="text-secondary font-weight-bold">退会</span>
              <% end %></td>
        </tr>
      </table>
      <div class="mb-5">
        <%= link_to "編集する", {controller: "admin/customers", action: "edit"}, class: "btn btn-success mr-5 ml-5" %>
        <%= link_to "注文履歴一覧を見る", {controller: "admin/homes", action: "top"}, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

</div>