<h2>注文情報入力</h2>
<%= form_with model: @order, url: orders_confirm_path do |f| %>
  <div>
    <strong>支払方法</strong><br>
    <%= f.radio_button :payment_method, 'credit_card' %>
    <%= f.label :payment_method_credit_card, 'クレジットカード' %>
    <%= f.radio_button :payment_method, "transfer" %>
    <%= f.label :payment_method_transfer, "銀行振込" %>
  </div>
  <div>
    <strong>お届け先</strong><br>
    <div>
      <%= f.radio_button :select_address, 0 %>
      <%= f.label :select_address_0, 'ご自身の住所' %><br>
      〒<%= current_customer.postal_code %>
      <%= current_customer.address %>
      <%= current_customer.first_name %><%= current_customer.last_name %>
    </div>
    <div>
      <%= f.radio_button :select_address, 1 %>
      <%= f.label :select_address_1, '登録済住所から選択' %><br>
      <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
    </div>
    <div>
      <%= f.radio_button :select_address, 2 %>
      <%= f.label :select_address_2, '新しいお届け先' %><br>
      郵便番号(ハイフンなし)<%= f.text_field :postal_code %><br>
      住所<%= f.text_field :address %><br>
      宛名<%= f.text_field :name %>
    </div>
  </div>
  <%= f.submit '確認画面へ進む' %>
<% end %>