<h2>注文履歴詳細</h2>
<p><strong>注文情報</strong></p>
<table>
  <tr>
    <td>注文日</td>
    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <td>配送先</td>
    <td>〒<%= @order.postal_code %><br>
        <%= @order.address %><br>
        <%= @order.name %></td>
  </tr>
  <tr>
    <td>支払方法</td>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <td>ステータス</td>
    <td><%= @order.order_status_i18n %></td>
  </tr>
</table>

<p><strong>請求情報</strong></p>
<table>
  <tr>
    <td>商品合計</td>
    <td><%= @order.total_payment - @order.postage %></td>
  </tr>
  <tr>
    <td>配送料</td>
    <td><%= @order.postage %></td>
  </tr>
  <tr>
    <td><strong>ご請求額</strong></td>
    <td><%= @order.total_payment %></td>
  </tr>
</table>

<p><strong>注文内容</strong></p>
<table>
  <thead>
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.item.with_tax_price %></td>
      <td><%= order_detail.amount %></td>
      <td><%= order_detail.item.with_tax_price * order_detail.amount %></td>
    </tr>
    <% end %>
  </tbody>
</table>
