<div class="container">
  <h4 class="ml-3">ログイン</h4>
  <p class="ml-5 mt-4"><span class="border-bottom border-dark">会員の方はこちらからログイン</span></p>

  <%= form_with model: @customer, url: customer_session_path, class: "offset-1 mb-5" do |f| %>
    <div class="row form-group mt-3">
      <%= f.label :email, "メールアドレス", class: "col-md-3 col-lg-2 col-form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-5 col-10 form-control" %>
    </div>

    <div class="row form-group">
      <%= f.label :password, "パスワード", class: "col-md-3 col-lg-2 col-form-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "col-md-5 col-10 form-control" %>
    </div>

    <%= f.submit "ログイン", class: "btn btn-primary offset-3 px-4 mt-3" %>
  <% end %>

  <%= render "public/shared/links" %>
</div>


