<div><%= image_tag @item.image, width: 200 %></div>
<h2><%= @item.name %></h2>
<div><%= @item.introduction %></div>
<div>￥<%= @item.price %></div>
<%= form_with model: @cart_item, url: cart_items_path do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.select :amount, *[1..3] %>
  <%= f.submit 'カートに入れる' %>
<% end %>


