<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if customer_signed_in? %>
      <p>4242</p>
    <% else %>
      <% if admin_signed_in? %>
        <p>aaa</p>
      <% else %>
        <p>bbb</p>
      <% end %>
    <% end %>
    </header>    
    <%= yield %>
  </body>
</html>
